body{
    margin: 30px;
    padding: 0;    
}
.navbar-brand h1{
    text-align: left;   
}
h1{
    text-align: center;
    margin-top: 50px;
}
@media (min-width: 992px){
    #Chicken, #Beef, #Sushi{
        Float: left;
    }
    #Chicken{
        Width: 33.33%
    }
    #Beef{
        Width: 33.33%
    }
    #Sushi{
        Width: 33.33%
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #Chicken, #Beef, #Sushi{
    Float: left;
    }
    #Chicken{
    Width: 50%
    }
    #Beef{
    Width: 50%
    }
    #Sushi{
    Width: 100%
    }
}
@media (max-width: 767px)  {
    #Chicken, #Beef, #Sushi{
    Float: left;
    }
    #Chicken{
    Width: 100%
    }
    #Beef{
    Width: 100%
    }
    #Sushi{
    Width: 100%
    }
}  
#Chicken{
    margin-right: auto;
    margin-left: auto;
}
#Beef{
    margin-right: auto;
    margin-left: auto;
}
#Sushi{
    margin-right: auto;
    margin-left: auto;
}
#Chickendiv{
    background-color:	#9f97a8;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 0px;
    margin: 15px;
    position: relative;
}
#Chickendiv h2{
    background-color: #ca4202;
    border: 1px solid #000000;
    padding: 5px;
    margin: 0px;
    width: 120px;
    box-sizing: border-box;
    text-align: center;
    float: right;
}
#Chickendiv p{
    padding: 10px;
    padding-top: 35px;
}
#Beefdiv{
    background-color:	#9f97a8;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 0px;
    margin: 15px;
    position: relative; 
}
#Beefdiv h2{
    background-color: #c61401;
    border: 1px solid #000000;
    padding: 5px;
    margin: 0px;
    width: 120px;
    box-sizing: border-box;
    text-align: center;
    float: right;
}
#Beefdiv p{
    padding: 10px;
    padding-top: 35px;
}
#Sushidiv{
    background-color:	#9f97a8;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 0px;
    margin: 15px;
    position: relative;
}
#Sushidiv h2{
    background-color: #860e3b;
    border: 1px solid #000000;
    padding: 5px;
    margin: 0px;
    width: 120px;
    box-sizing: border-box;
    text-align: center;
    float: right;
}
#Sushidiv p{
    padding: 10px;
    padding-top: 35px;
}